body{
  padding-bottom: 50px;
  margin-left: 50px;
}
h1{
  font-family: 'Cagliostro', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
  font-size: 80px;
  text-align: center;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nav{
  border:1px solid black;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 10px;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7em;

  text-align: center;
  max-width: 200px;

}
